* {
  margin: 0%;
  padding: 0px;
  text-decoration: none;
}

img {
  width: 100%;
}

#imagem {
  width: 11%;
  display: flex;
}

.container li div {
  display: flex;
  justify-content: space-between;
}
nav {
  display: flex;
  background-color: #489c69;
  align-items: center;
  justify-content: space-between;
}
.container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-decoration: none;
}
.container li {
  padding: 18px;
  justify-content: space-between;
  text-decoration: none;
}

h3 {
  color: #06aa48;
  padding: 0%;
  padding-left: 5px;
  padding-right: 5px;
}

p {
  
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  padding-top: 0%;
  font-size: larger;
}

article {
  border-style: solid;
  border-color: #06aa48;
  border-width: 3px;
  margin: 10px;
  max-width: 360px;
}

figcaption {
  color: #555;
}

section {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  padding: 4px;
  background-color: #06aa48;
  color: white;
  margin-bottom: 0%;
}
#nome {
  font-size: 20px;
  color: white;
}
.dark {
  background-color: #321f28;
  color: #e79e4f;
}

.light {
  background-color: #86C8BC;
  color: #CEEDC7;
}
